Repository iz9/tictactoe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit, npm run eslint --fix, npx stylelint --fix

feat(proj): basic functionality
  index.html
  src/main.ts
  src/style.css
Due: prettier --write, tsc --noEmit, npm run eslint --fix, npx stylelint --fix

feat(game): check winner. show win line
  src/main.ts
  src/style.css
Due: prettier --write, tsc --noEmit, npm run eslint --fix, npx stylelint --fix

fix(styles): fix styling of loose line combo
  src/style.css
Due: prettier --write, npx stylelint --fix

feat(game): minimax AI
  src/main.ts
Due: prettier --write, tsc --noEmit, npm run eslint --fix

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,jsx,tsx,html,md,json,css,scss}
  tsc --noEmit: any of: *.{ts,tsx}
  npm run eslint --fix: any of: *.{ts,tsx,js,jsx}
  npx stylelint --fix: any of: *.{css,scss}
